body {
    background-color: #D3D3D3;
    margin: 0;
}
div {
    box-sizing: border-box ;
}
header {
    background: white;
    padding: 10px;
}
header h1 {
    margin: 0;
}
div.post {
    background: white;
    margin-top: 10px;
}
div.post img {
    width: 500px;
    object-fit: fill;
    padding: 20px;
}
div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child {
    display: inline-block;
    width: 95%;
    padding: 10px;
    text-align: right;
    color: grey;
}
div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}